body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(0, 0, 0);
  font: 300 3em/1.4 'Source Sans Pro';
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element {
  position: relative;
  float: left;
  background-position: center center;
}

.text {
  position: relative;
  float: left;
  z-index: 2;
  width: 32%;
  min-height: 46px;
  margin: -191px 0 0 33.99821%;
  background-color: rgba(255, 255, 255, 0.32);
  box-shadow: -1px 5px 5px 2px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  position: relative;
  float: left;
  line-height: 1.38;
  text-align: center;
}

.element-1 {
  z-index: 0;
  width: 100%;
  height: 550px;
  background-image: url('../images/0702151559.jpg');
  background-size: cover;
  background-color: rgb(222, 222, 222);
}

.element-2 {
  clear: both;
  z-index: 1;
  width: 14.5833333333%;
  height: 267px;
  margin: -517px 0 0 42.7596%;
  background-image: url('../images/Large%20Transparent%20A.png');
  background-repeat: no-repeat;
  background-size: contain;
}

._button-1 {
  z-index: 3;
  width: 8.5%;
  height: 59px;
  margin: 51px 0 0 31.9987%;
  border: 1px solid rgb(255, 234, 234);
  background-color: rgb(0, 0, 0);
  font-size: 0.5em;
  font-weight: 200;
  color: rgb(255, 255, 255);
}

._button-2 {
  z-index: 4;
  width: 8.4993489583%;
  height: 59px;
  margin: 51px 0 0 5.30355%;
  border: 1px solid rgb(255, 234, 234);
  background-color: rgb(0, 0, 0);
  font-size: 0.5em;
  font-weight: 200;
  color: rgb(255, 255, 255);
}

._button-1:hover,
._button-2:hover {
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5) inset;
}

._button-3 {
  z-index: 5;
  width: 8.4985351562%;
  height: 59px;
  margin: 51px 0 0 5.19857%;
  border: 1px solid rgb(255, 234, 234);
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5) inset;
  font-size: 0.5em;
  font-weight: 200;
  color: rgb(255, 255, 255);
}

._button-3:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5) inset;
}

._button-4 {
  clear: both;
  z-index: 6;
  width: 150px;
  height: 150px;
  margin: 95px 0 0 31.26058%;
  border-radius: 3px;
  background: url('../images/outlook%20button.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.333em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

._button-5 {
  z-index: 7;
  width: 150px;
  height: 150px;
  margin: 95px 0 0 2.08903%;
  border-radius: 3px;
  background: url('../images/Linked%20in.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.333em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

._button-6 {
  z-index: 8;
  width: 150px;
  height: 150px;
  margin: 95px 0 0 2.09961%;
  border-radius: 3px;
  background: url('../images/twitter%20button.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.333em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

._button-7 {
  z-index: 9;
  width: 150px;
  height: 150px;
  margin: 95px 0 0 2.09473%;
  border-radius: 3px;
  background: url('../images/imgur%20button.png') rgba(98, 54, 54, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.333em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

@media(max-width: 1700px) {
  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    width: 35%;
    margin-left: 33.40993%;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.7591899999%;
  }

  ._button-1 {
    z-index: 3;
    width: 12%;
    margin-left: 26.69761%;
  }

  ._button-2 {
    z-index: 4;
    width: 12%;
    margin-left: 5.30331%;
  }

  ._button-3 {
    z-index: 5;
    width: 12%;
    margin-left: 5.1921%;
  }

  ._button-3:hover {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5) inset;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 29.25%;
  }

  ._button-5 {
    z-index: 7;
    margin-left: 2.08824%;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 2.09835%;
  }

  ._button-7 {
    z-index: 9;
    margin-left: 2.09467%;
  }
}

@media(max-width: 1600px) {
  body {
    font-size: 3em;
  }

  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    width: 42%;
    margin-left: 28.74805%;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75879%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.61914%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.30176%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.29297%;
  }

  ._button-4 {
    z-index: 6;
    margin-top: 105px;
    margin-left: 28.18555%;
  }

  ._button-5 {
    z-index: 7;
    margin-top: 105px;
    margin-left: 2.08594%;
  }

  ._button-6 {
    z-index: 8;
    margin-top: 105px;
    margin-left: 2.09766%;
  }

  ._button-7 {
    z-index: 9;
    margin-top: 105px;
    margin-left: 2.09375%;
  }
}

@media(max-width: 1450px) {
  ._button,
  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    width: 45%;
    margin-left: 27.26078%;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75862%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.3319%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.30065%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.28341%;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 26.17565%;
  }

  ._button-5 {
    z-index: 7;
    margin-left: 2.07328%;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 2.09591%;
  }

  ._button-7 {
    z-index: 9;
    margin-left: 2.08944%;
  }
}

@media(max-width: 1350px) {
  body {
    font-size: 3em;
  }

  ._button,
  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    width: 50%;
    margin-left: 24.84491%;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75579%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.7963%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.2824099999%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.26042%;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 24.76505%;
  }

  ._button-5 {
    z-index: 7;
    margin-left: 2.07176%;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 2.09491%;
  }

  ._button-7 {
    z-index: 9;
    margin-left: 2.0856499999%;
  }
}

@media(max-width: 1150px) {
  ._button,
  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    width: 60%;
    margin-left: 19.7228299999%;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75408%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.7962%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.28125%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.28533%;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 20.7540799999%;
  }

  ._button-5 {
    z-index: 7;
    margin-left: 2.06658%;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 2.08832%;
  }

  ._button-7 {
    z-index: 9;
    margin-left: 2.08832%;
  }
}

@media(max-width: 1000px) {
  body {
    font-size: 3em;
  }

  ._button,
  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    width: 75%;
    margin-left: 12.36875%;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75313%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.79375%;
  }

  ._button-2 {
    z-index: 4;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.325%;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 17.05313%;
  }

  ._button-5 {
    z-index: 7;
    margin-left: 2.06563%;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 2.0875%;
  }

  ._button-7 {
    z-index: 9;
    margin-left: 2.0875%;
  }
}

@media(max-width: 900px) {
  ._button,
  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    margin-left: 12.45313%;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75174%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.78646%;
  }

  ._button-2 {
    z-index: 4;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.31771%;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 13.60417%;
  }

  ._button-5 {
    z-index: 7;
    margin-left: 2.05903%;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 2.08681%;
  }

  ._button-7 {
    z-index: 9;
    margin-left: 2.0816%;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 3em;
  }

  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    margin-left: 11.81641%;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-top: -480px;
    margin-left: 42.75%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.91602%;
  }

  ._button-2 {
    z-index: 4;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.29883%;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 9.47852%;
  }

  ._button-5 {
    z-index: 7;
    margin-left: 2.05469%;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 2.08594%;
  }

  ._button-7 {
    z-index: 9;
    margin-left: 2.08008%;
  }
}

@media(max-width: 700px) {
  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    margin-left: 11.8125%;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.7767899999%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.27009%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.31027%;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 27.60268%;
  }

  ._button-5 {
    z-index: 7;
    margin-left: 2.04688%;
  }

  ._button-6 {
    clear: both;
    z-index: 8;
    margin-top: 22px;
    margin-left: 27.60491%;
  }

  ._button-7 {
    z-index: 9;
    margin-top: 22px;
    margin-left: 2.04688%;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 3em;
  }

  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    width: 90%;
    margin-left: 4.31771%;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
  }

  ._button-1 {
    z-index: 3;
    width: 20%;
    margin-left: 14.78646%;
  }

  ._button-2 {
    z-index: 4;
    width: 20%;
    margin-left: 5.28125%;
  }

  ._button-3 {
    z-index: 5;
    width: 20%;
    margin-left: 5.1875%;
  }

  ._button-4 {
    z-index: 6;
    margin-top: 65px;
    margin-left: 24.08073%;
  }

  ._button-5 {
    z-index: 7;
    margin-top: 65px;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 24.08073%;
  }

  ._button-7 {
    z-index: 9;
  }
}

@media(max-width: 500px) {
  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    margin-top: -250px;
    margin-left: 4.31563%;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
  }

  ._button-1 {
    z-index: 3;
    margin-top: 61px;
    margin-left: 14.78438%;
  }

  ._button-2 {
    z-index: 4;
    margin-top: 61px;
  }

  ._button-3 {
    z-index: 5;
    margin-top: 61px;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 19.07813%;
  }

  ._button-5 {
    z-index: 7;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 19.07813%;
  }

  ._button-7 {
    z-index: 9;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 3em;
  }

  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    margin-left: 4.3125%;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
  }

  ._button-1 {
    z-index: 3;
    width: 25%;
    margin-left: 7.28125%;
  }

  ._button-2 {
    z-index: 4;
    width: 25%;
  }

  ._button-3 {
    z-index: 5;
    width: 25%;
  }

  ._button-4 {
    z-index: 6;
    width: 100px;
    height: 100px;
    margin-left: 24.07813%;
  }

  ._button-5 {
    z-index: 7;
    width: 100px;
    height: 100px;
  }

  ._button-6 {
    z-index: 8;
    width: 100px;
    height: 100px;
    margin-left: 24.07813%;
  }

  ._button-7 {
    z-index: 9;
    width: 100px;
    height: 100px;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 2.5em;
  }

  .element {
    position: relative;
  }

  .text {
    position: relative;
    z-index: 2;
    margin-top: -220px;
    margin-left: 4.30176%;
    font-size: 40px;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.74414%;
  }

  ._button-1 {
    z-index: 3;
    width: 26%;
    margin-left: 6.02051%;
    font-size: 0.6em;
  }

  ._button-2 {
    z-index: 4;
    width: 26%;
    margin-left: 5.27344%;
    font-size: 0.6em;
  }

  ._button-3 {
    z-index: 5;
    width: 26%;
    margin-left: 5.18555%;
    font-size: 0.6em;
  }

  ._button-4 {
    z-index: 6;
    margin-left: 17.82715%;
    font-size: 0.4em;
  }

  ._button-5 {
    z-index: 7;
    margin-left: 2.0459%;
    font-size: 0.4em;
  }

  ._button-6 {
    z-index: 8;
    margin-left: 17.82715%;
    font-size: 0.4em;
  }

  ._button-7 {
    z-index: 9;
    margin-left: 2.0459%;
    font-size: 0.4em;
  }
}