body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(0, 0, 0);
  font: 200 1.25em/1.38 'Source Sans Pro';
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element {
  position: relative;
  float: left;
  background-position: center center;
}

.text {
  position: relative;
  float: left;
}

._button {
  display: block;
  position: relative;
  float: left;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  color: rgb(255, 255, 255);
}

.element-1 {
  z-index: 0;
  width: 100%;
  height: 550px;
  background-image: url('../images/0702151559.jpg');
  background-size: cover;
  background-color: rgb(222, 222, 222);
}

.element-2 {
  clear: both;
  z-index: 1;
  width: 14.5833333333%;
  height: 267px;
  margin: -517px 0 0 42.7596%;
  background-image: url('../images/Large%20Transparent%20A.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.element-3 {
  clear: both;
  z-index: 6;
  width: 15.9895833333%;
  height: 437px;
  margin: 52px 0 0 29.08122%;
  background-image: url('../images/adrian%20cropped.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(222, 222, 222, 0);
}

.text-1 {
  z-index: 2;
  width: 32%;
  min-height: 46px;
  margin: -191px 0 0 33.99821%;
  background-color: rgba(255, 255, 255, 0.32);
  box-shadow: -1px 5px 5px 2px rgba(0, 0, 0, 0.5);
  font-size: 2.4em;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-2 {
  z-index: 7;
  width: 22.1875%;
  min-height: 125px;
  margin: 116px 0 0 3.45785%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

._button-1 {
  z-index: 3;
  width: 8.5%;
  height: 59px;
  margin: 51px 0 0 31.9987%;
  border-color: rgb(255, 234, 234);
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5) inset;
  font-size: 1.2em;
}

._button-1:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5) inset;
}

._button-1:active,
._button-1:focus {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5) inset;
}

._button-2 {
  z-index: 4;
  width: 8.4993489583%;
  height: 59px;
  margin: 51px 0 0 5.30355%;
  border-color: rgb(255, 234, 234);
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
}

._button-3 {
  z-index: 5;
  width: 8.4985351562%;
  height: 59px;
  margin: 51px 0 0 5.19857%;
  border-color: rgb(255, 234, 234);
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
}

._button-2:hover,
._button-3:hover {
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5) inset;
}

._button-4 {
  clear: both;
  z-index: 8;
  width: 18.9972330729%;
  height: 69px;
  margin: -130px 0 0 49.67692%;
  border-color: rgb(255, 255, 255);
  background-color: rgba(32, 120, 251, 0.26);
  font-size: 0.8em;
  font-weight: 300;
}

._button-4:hover {
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.51) inset;
}

@media(max-width: 1700px) {
  .element {
    position: relative;
  }

  .text {
    position: relative;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.7591899999%;
  }

  .element-3 {
    z-index: 6;
    width: 18.25%;
    height: 476px;
    margin-left: 29.07721%;
  }

  .text-1 {
    z-index: 2;
    width: 35%;
    margin-left: 33.40993%;
  }

  .text-2 {
    z-index: 7;
    width: 23.8823529411%;
    margin-left: 2.15717%;
  }

  ._button-1 {
    z-index: 3;
    width: 12%;
    margin-left: 26.69761%;
  }

  ._button-2 {
    z-index: 4;
    width: 12%;
    margin-left: 5.30331%;
  }

  ._button-3 {
    z-index: 5;
    width: 12%;
    margin-left: 5.1921%;
  }

  ._button-3:hover {
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5) inset;
  }

  ._button-4 {
    z-index: 8;
    width: 23.5652173913%;
    margin-left: 49.67647%;
  }
}

@media(max-width: 1600px) {
  body {
    font-size: 1.25em;
  }

  .element {
    position: relative;
  }

  ._button,
  .text {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75879%;
  }

  .element-3 {
    z-index: 6;
    width: 19.1724137931%;
    height: 346px;
    margin-top: 128px;
    margin-left: 25.06055%;
  }

  .text-1 {
    z-index: 2;
    width: 42%;
    margin-left: 28.68555%;
  }

  .text-2 {
    z-index: 7;
    width: 25%;
    margin-top: 128px;
    margin-left: 2.26758%;
  }

  ._button-1 {
    z-index: 3;
    margin-top: 50px;
    margin-left: 26.67969%;
  }

  ._button-2 {
    z-index: 4;
    margin-top: 50px;
    margin-left: 5.30176%;
  }

  ._button-3 {
    z-index: 5;
    margin-top: 50px;
    margin-left: 5.47168%;
  }

  ._button-4 {
    z-index: 8;
    width: 29.5%;
    margin-top: -69px;
    margin-left: 45%;
  }
}

@media(max-width: 1450px) {
  .element {
    position: relative;
  }

  ._button,
  .text {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75862%;
  }

  .element-3 {
    z-index: 6;
    width: 20.2962962962%;
    height: 424px;
    margin-top: 63px;
    margin-left: 25.5%;
  }

  .text-1 {
    z-index: 2;
    width: 45%;
    margin-left: 27.2694%;
  }

  .text-2 {
    z-index: 7;
    width: 28.6666666666%;
    margin-top: 86px;
    margin-left: 2.09052%;
  }

  ._button-1 {
    z-index: 3;
    margin-top: 51px;
    margin-left: 26.60668%;
  }

  ._button-2 {
    z-index: 4;
    margin-top: 51px;
    margin-left: 5.29957%;
  }

  ._button-3 {
    z-index: 5;
    margin-top: 51px;
    margin-left: 5.30496%;
  }

  ._button-4 {
    z-index: 8;
    width: 28.4827586206%;
    margin-top: -102px;
    margin-left: 47.03448%;
  }
}

@media(max-width: 1350px) {
  body {
    font-size: 1.25em;
  }

  .element {
    position: relative;
  }

  ._button,
  .text {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75579%;
  }

  .element-3 {
    z-index: 6;
    width: 27.4074074074%;
    height: 553px;
    margin-top: 16px;
    margin-left: 22.07292%;
  }

  .text-1 {
    z-index: 2;
    width: 50%;
    margin-left: 24.85301%;
  }

  .text-2 {
    z-index: 7;
    width: 31.9259259259%;
    margin-top: 101px;
    margin-left: 1.48264%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.5%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.28704%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.7025499999%;
  }

  ._button-4 {
    z-index: 8;
    width: 32%;
    margin-top: -153px;
    margin-left: 51.03704%;
  }
}

@media(max-width: 1150px) {
  ._button,
  .element,
  .text {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75408%;
  }

  .element-3 {
    z-index: 6;
    width: 28.1999999999%;
    margin-top: 10px;
    margin-left: 20.7962%;
  }

  .text-1 {
    z-index: 2;
    width: 60%;
    margin-left: 19.76087%;
  }

  .text-2 {
    z-index: 7;
    width: 32.4347826086%;
    margin-top: 86px;
    margin-left: 1.9606%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.7962%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.28533%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.28397%;
  }

  ._button-4 {
    z-index: 8;
    width: 33.0434782608%;
    margin-top: -150px;
    margin-left: 50.95652%;
  }
}

@media(max-width: 1000px) {
  body {
    font-size: 1.25em;
  }

  ._button,
  .element,
  .text {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75313%;
  }

  .element-3 {
    z-index: 6;
    width: 36%;
    margin-top: 0;
    margin-left: 10.2%;
  }

  .text-1 {
    z-index: 2;
    width: 75%;
    margin-left: 12.40625%;
  }

  .text-2 {
    z-index: 7;
    width: 42.5%;
    margin-top: 80px;
    margin-left: 2.8%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.89375%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.28438%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.3125%;
  }

  ._button-4 {
    z-index: 8;
    width: 42.5%;
    margin-top: -155px;
    margin-left: 49%;
  }
}

@media(max-width: 900px) {
  ._button,
  .element,
  .text {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.75174%;
  }

  .element-3 {
    z-index: 6;
    width: 40.3333333333%;
    margin-top: 27px;
    margin-left: 7.5%;
  }

  .text-1 {
    z-index: 2;
    margin-left: 12.47049%;
  }

  .text-2 {
    z-index: 7;
    width: 42.5555555555%;
    margin-top: 83px;
    margin-left: 1.16667%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 27.01042%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.28299%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.31771%;
  }

  ._button-4 {
    z-index: 8;
    width: 47.875%;
    margin-top: -147px;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 1.25em;
  }

  .element {
    position: relative;
  }

  .text {
    position: relative;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-top: -481px;
    margin-left: 42.75%;
  }

  .element-3 {
    z-index: 6;
    width: 68%;
    margin-top: 156px;
    margin-left: 16%;
  }

  .text-1 {
    z-index: 2;
    margin-left: 11.95313%;
  }

  .text-2 {
    clear: both;
    z-index: 7;
    width: 55.75%;
    margin-top: 43px;
    margin-left: 21.75%;
    text-align: center;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.79102%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.28125%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.29883%;
  }

  ._button-4 {
    z-index: 8;
    margin-top: 72px;
    margin-left: 25.5%;
  }
}

@media(max-width: 700px) {
  .element {
    position: relative;
  }

  ._button,
  .text {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
  }

  .element-3 {
    z-index: 6;
    margin-top: 154px;
  }

  .text-1 {
    z-index: 2;
  }

  .text-2 {
    z-index: 7;
    width: 70.3333333333%;
    margin-top: 28px;
    margin-left: 16%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 26.91741%;
  }

  ._button-2 {
    z-index: 4;
    margin-left: 5.27009%;
  }

  ._button-3 {
    z-index: 5;
    margin-left: 5.28348%;
  }

  ._button-4 {
    z-index: 8;
    width: 67.8571428571%;
    margin-top: 48px;
    margin-left: 17.14286%;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 1.25em;
  }

  .element {
    position: relative;
  }

  ._button,
  .text {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
  }

  .element-3 {
    z-index: 6;
    margin-top: 21px;
  }

  .text-1 {
    z-index: 2;
    width: 90%;
    margin-left: 4.46615%;
  }

  .text-2 {
    z-index: 7;
    margin-top: 12px;
    margin-left: 14.78646%;
  }

  ._button-1 {
    z-index: 3;
    width: 20%;
    margin-top: 61px;
    margin-left: 14.78646%;
  }

  ._button-2 {
    z-index: 4;
    width: 20%;
    margin-top: 61px;
    margin-left: 5.28125%;
  }

  ._button-3 {
    z-index: 5;
    width: 20%;
    margin-top: 61px;
    margin-left: 5.1875%;
  }

  ._button-4 {
    z-index: 8;
    width: 70.1666666666%;
    margin-top: 56px;
    margin-left: 14.83073%;
  }
}

@media(max-width: 500px) {
  .element {
    position: relative;
  }

  .text {
    position: relative;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
  }

  .element-3 {
    z-index: 6;
    margin-top: 19px;
  }

  .text-1 {
    z-index: 2;
    margin-top: -250px;
    margin-left: 4.14688%;
  }

  .text-2 {
    z-index: 7;
    margin-top: 14px;
    margin-left: 14.78438%;
  }

  ._button-1 {
    z-index: 3;
    margin-left: 14.78438%;
  }

  ._button-2 {
    z-index: 4;
  }

  ._button-3 {
    z-index: 5;
  }

  ._button-4 {
    z-index: 8;
    margin-left: 14.82813%;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 1.25em;
  }

  .element {
    position: relative;
  }

  ._button,
  .text {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
  }

  .element-3 {
    z-index: 6;
    width: 83%;
    height: 411px;
    margin-top: 42px;
    margin-left: 8.5%;
  }

  .text-1 {
    z-index: 2;
    margin-left: 4.14063%;
  }

  .text-2 {
    z-index: 7;
    width: 83%;
    margin-top: 32px;
    margin-left: 8.5%;
  }

  ._button-1 {
    z-index: 3;
    width: 25%;
    margin-left: 7.28125%;
  }

  ._button-2 {
    z-index: 4;
    width: 25%;
  }

  ._button-3 {
    z-index: 5;
    width: 25%;
  }

  ._button-4 {
    z-index: 8;
    width: 83%;
    margin-top: 35px;
    margin-left: 8.5%;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 1em;
  }

  .element {
    position: relative;
  }

  .text {
    position: relative;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    z-index: 0;
  }

  .element-2 {
    z-index: 1;
    margin-left: 42.74414%;
  }

  .element-3 {
    z-index: 6;
    width: 85.9375%;
    margin-top: 23px;
    margin-left: 6.5625%;
  }

  .text-1 {
    z-index: 2;
    margin-top: -220px;
    font-size: 2.5em;
  }

  .text-2 {
    z-index: 7;
    margin-top: 0;
    margin-left: 8.48633%;
    font-size: 16px;
  }

  ._button-1 {
    z-index: 3;
    width: 26%;
    margin-top: 79px;
    margin-left: 6.02051%;
    font-size: 1.5em;
  }

  ._button-2 {
    z-index: 4;
    width: 26%;
    margin-top: 79px;
    margin-left: 5.27344%;
    font-size: 1.5em;
  }

  ._button-3 {
    z-index: 5;
    width: 26%;
    margin-top: 79px;
    margin-left: 5.18555%;
    font-size: 1.5em;
  }

  ._button-4 {
    z-index: 8;
    margin-top: 37px;
    margin-left: 8.48633%;
    font-size: 1em;
  }
}